*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.barra{
    background-color: #0f1736;
   
}



.intro{
    background-color: #0f1736;
    height: 93vh;
}

span{
    color: #E1AA74;
}

.yo{
    width: 20rem;
    border-radius: 100%;
}

h1{
    font-size: 3.8rem !important;
}

h2{
    color: white !important;
    font-size: 3rem !important;
}